<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/base" xmlns:th="http://www.thymeleaf.org">

<ul layout:fragment="menu">
</ul>

<div layout:fragment="content">
  <form class="form" th:action="@{/login}" th:method="post">
    <div
      class="form__field"
    >
      <label class="form__label" for="login">Login</label>
      <input
        id="login"
        name="login"
        type="text"
        class="form__input"
        th:classappend="${loginError ? 'form__input--invalid' : ''}"
      >
      <div class="form__field-error" th:if="${loginError}">
        Wrong login or password
      </div>
    </div>
    <div
      class="form__field"
    >
      <label class="form__label" for="login">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        class="form__input"
      >
    </div>
    <div class="form__buttons">
      <a th:href="@{/books}" class="form__button--remove button  button--primary">Go Back</a>
      <button type="submit" class="button button--primary">Login</button>
    </div>
  </form>
</div>

</html>