<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/base" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
  <div class="table">
    <div class="table__row" th:each="book : ${books}">
      <a
        href="#"
        class="table__text"
        th:href="@{/books/edit/{path}(path=${book.id})}"
        th:text="${book.title}"
      >
        Title
      </a>
      <form th:action="@{/books/delete/{path}(path=${book.id})}" method="post">
        <button
          type="submit"
          class="table__button table__button--trash"
          onclick="return confirm('Are you sure?')"
        ></button>
      </form>
    </div>
  </div>
</div>

<div class="sidebar" layout:fragment="sidebar">
  <a
    href="#"
    th:href="@{/books/create}"
    class="sidebar__button button button--primary"
  >
    Create book
  </a>
</div>

</html>